.cards{
	display:flex;
	flex-wrap:wrap;
}

.card{
  background-color: #ffc2c2;
  padding: 30px;
  display: flex;
  box-shadow: 0px 10px 20px rgba(225,91,183,0.4);
  border-radius: 6px;
  margin: 20px;
  flex: 1;
  flex-basis: 0;
  flex-direction: column;
  align-items: center;
  margin:15px;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.card img{
   width: 200px;
   height: 200px;
   border-radius: 6px;
}

.card h3{
	flex-grow: 1;
	padding-left: 20px;
	font-size: 20px;
}

.card:hover{
	box-shadow:0px 5px 10px 0px rgba(52,34, 54, 0.5);
	transform: translateY(-10px);
}


.season-background{
  background-color: #faf8e0;
  padding: 30px;
  display: flex;
  box-shadow: 0px 10px 20px rgba(225,91,183,0.4);
  border-radius: 6px;
  margin: 20px;
  flex: 1;
  flex-basis: 0;
  flex-direction: column;
  align-items: center;
  margin:15px;
  flex-wrap: nowrap;
}

.season-background h4{
	flex-grow: 1;
	margin-right: 25px;
}

.season-background h5{
	flex-grow: 1;
	margin-right: 25px;
  margin-top: 40px;
}

.season-background img{
    vertical-align: middle;
}
